app-login{
  margin: 0;
  padding:0;
  background-color: black;
}

.login-con{
  font-family: Arial;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:  30px auto;
  width: 450px;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155dfc;
  color: white;
  width: 70px;
  height: 60px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 0;
}

.login-title{
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
}

.login-subtitle{
  margin-top: 16px;
}
.signInUp-buttons,.createAccount-button{
  background-color: #f3f3f5;
  border: none;
  padding: 4px;
  border-radius: 16px;
  margin-top: 30px;
}

.toggle-button1,.toggle-button2{
  text-decoration: none;
  border: none;
  border-radius:16px ;
  width: 185px;
}

.toggle-button1{
    background-color:white ;
}

label{
    display: flex;
    margin-top: 16px;
}

.createAccount-button{
    background-color: #155dfc;
    color: white;
    width: 100%;
}

.line{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background-color: lightgrey;
}
.instrucion-con{
 align-items: center;

}
.ins-desc{
  font-size: 12px;
  text-align: left;
  background-color: #EFF6FF;
  border-radius: 8px;
  padding: 16px;
}
.instructions{
 margin-bottom: 4px;
}

.alert{
  font-family:Helvetica,"Lucida Grande",Arial,"Ubuntu","Cantarell","Fira Sans","sans-serif";
  font-size: 12px;
  color: #828282;
  margin-bottom: 0;
}

.toggle-button1.active{
  background-color: white;
}

