.login-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155dfc;
  color: white;
  width: 110px;
  height: 105px;
  margin: 50px auto 40px auto;
  border-radius: 16px;
   box-shadow:  0 25px 50px -12px  rgba(0, 0, 0, 0.3);
}

.login-desc{
  text-align: center;
}

.subtitle{
  color: rgb(102, 102, 102);
  margin: 20px auto 48px auto;
  max-width: 670px;
  
}

.cards-con{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
   gap: 25px;
    flex-wrap: wrap;
  /* width: 285px;
  height: 185px; */
}

.card{
  padding: 16px;
  border-radius: 16px;
  width:280px;
  box-shadow: 0 12px 12px rgba(0,0,0,0.08);
  border: 1px solid #e6ecfa;
  margin-bottom: 32px ;

}

.locIcon, .busIcon, .arrowIcon{
 display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 16px auto 16px auto;
  border-radius: 12px;
}

.locIcon{
  color: #155DFC;
  background-color: #DBEAFE;
}

.busIcon{
  color: #00A63E;
  background-color: #DBFCE7;
}

.arrowIcon{
  color:#9810FA;
  background-color: #F3E8FF;
}

.desc-card{
  font-size: 14px;
}

.viewLive{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 20px auto;
  background-color: #155dfc;
  color: white;
  text-decoration: none;
  border: none;
  padding: 14px 16px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
}